body {
  background: rgb(50, 50, 50);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.tab-container {
  background: whitesmoke;
  display: flex;
  width: 300px;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
}

.tab-div {
  color: black;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-div:nth-child(n+2) {
  filter: invert(70%);
}


.tab-div:hover{
  cursor: pointer;
}

.tab-svg {
  height: 25px;
}