body {
  background: rgb(50, 50, 50);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.tab-container {
  background: whitesmoke;
  display: flex;
  width: 300px;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
}

.tab-div {
  /* border: 2px solid orange; */
  width: 40px;
  color: black;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-div:nth-child(n+2) {
  filter: invert(60%);
}


.tab-div:hover{
  cursor: pointer;
}

.tab-svg {
  height: 25px;
}

.tab-bar {
  border: 2px solid black;
  background: black;
  width: 40px;
}

.tab-container .tab-div:nth-child(n+2) .tab-bar{
  display: none; 
}